<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
     <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <title>Our application</title>
</head>
<body>
<form>
  <div class="form-group">
    <label for="exampleFormControlInput1">Write the place where person can take item (room#)</label>
    <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="our room or building">
  </div>
  <div class="form-group">
    <label for="exampleFormControlInput1">Time when person can take the item:)</label>
    <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="date and time">
  </div>

  <div class="form-group">
    <label for="exampleFormControlTextarea1">Your comments</label>
    <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"> </textarea>
  </div>
    <a class="btn btn-primary btn-lg" href="/search" role="button">Submit</a>
</form>
</body>
</html>