<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>our application</title>
</head>
<body>
<form>
  <div class="form-group">
    <label for="exampleFormControlInput1">Write the place where person can take item (room#)</label>
    <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="name@example.com">
  </div>
  <div class="form-group">
    <label for="exampleFormControlInput1">Time when person can take the item:)</label>
    <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="name@example.com">
  </div>

  <div class="form-group">
    <label for="exampleFormControlTextarea1">Your comments</label>
    <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
  </div>
    <a class="btn btn-primary btn-lg" href="/search_page" role="button">Submit</a>
</form>
</body>
</html>